* {
  font-family: saira;
}

body {
  background-color: darkblue;
  color: black;
  
}

#calc {
  background-color: black;
  color: white;
  width: 500px;
  margin: auto;
  height: 700px;
  padding: 20px;
}

#displ {
  background-color: rgb(0, 0, 0);
  width: 100;
  height: 50px;
  margin: auto;
  color: rgb(255, 255, 255);
  border: red 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px;
  font-size: 2rem;
  overflow: hidden;
}

#pressers {
  margin: 30px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2px;
  row-gap: 2px;
}


#numminuss,
#numpluss,
#numequalss,
#num1s,
#num2s,
#num3s,
#num4s,
#num5s,
#num6s,
#num7s,
#num8s,
#num9s,
#numdivides,
#num0s,
#nummultipys {
  width: 166px;
  height: 100px;
  font-size: 3rem;
  border: transparent;
  border-radius: 10px ;
  transition: .4s;
  margin: 1px;
}

#numminuss:hover,
#numpluss:hover,
#numequalss:hover,
#num1s:hover,
#num2s:hover,
#num3s:hover,
#num4s:hover,
#num5s:hover,
#num6s:hover,
#num7s:hover,
#num8s:hover,
#num9s:hover,
#numdivides:hover,
#num0s:hover,
#nummultipys:hover {
  font-size: 3.5rem;
  background-color: black;
  color: wheat;
  border: 1px red solid;
}

